<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../partials/head.ejs %>
</head>
<body>
        <div class="navbar">
                <a href="/index"><img id="back" src="https://img.icons8.com/small/50/000000/long-arrow-left.png"></a>
                <a href="/index"> <img id="src" src="https://img.icons8.com/ios-filled/50/000000/search.png"> </a>
        </div>
    
        <div class="header">
            <h1>Artifact is... </h1>
        </div>

        <div class="aboutpage">
            <p>an architectural archive inspired by Atlas Obscura. 
            <br>Artifact is dedicated to cataloguing significant buildings 
            <br>and spaces around the world.</p>
        </div>
        



        <footer>
                <div class="ftlinks">
                    <div class="contact">
                        <a href="mailto:ruby.sz.king@gmail.com"><h6>CONTACT</h6></a>
                    </div>
        
                    <div class="links">
                        <a href="/links"><h6>LINKS</h6></a>
                    </div>
        
                    <div class="about">
                        <a href="/about"><h6>ABOUT</h6></a>
                    </div>
        
                    <div class="copy">
                        <h6>COPYRIGHT 2019 <a class="heart" href="">&hearts;</a> RUBY KING</h6>
                    </div>
                </div>
        </footer>
    
</body>
</html>