<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    

    <div class="home">
        <h1>Artifact is an</h1>
    </div>
    <div class="home2">
        <h1>architectural archive.</h1>
    </div>

    <a id="enter" href="/index"> Enter <img class="arrow" src="/icon.png"> </a>

    
</body>
</html>