<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head.ejs %>
</head>
<body>

    <div class="home">
            <h1>Artifact is an 
            <br>architectural archive.</h1>
    </div>

    <a href="/index">
        <button class="button"> Enter </button> 
    </a>

    
</body>
</html>