<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="navbar">
        <a class="add" href="/artifact/new">
            <button class="button"> Add </button> 
        </a>

        <form class="search" action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
    </div>

    <div class="header">
        <h1>Artifact is... </h1>
        <br>
        <br>
    </div>
    <div class="container">
        <div class="row">
                <ul class="col-sm">
                    <li><a class="list" href="/artifact/tag/midcentury">Mid Century</a></li>
                    <li><a class="list" href="/artifact/tag/victorian">Victorian</a></li>
                    <li><a class="list" href="/artifact/tag/bauhaus">Bauhaus</a></li>
                </ul>
                <ul class="col-sm"> 
                    <li><a class="list" href="/artifact/tag/artdeco">Art Deco</a></li>
                    <li><a class="list" href="/artifact/tag/gothic">Gothic</a></li>
                    <li><a class="list" href="/artifact/tag/brutalist">Brutalist</a></li>
                </ul> 
                <ul class="col-sm">   
                    <li><a class="list" href="/artifact/tag/modern">Modernist</a></li>
                    <li><a class="list" href="/artifact/tag/renaissance">Renaissance</a></li>
                    <li><a class="list" href="/artifact/new">Add Artifact</a></li>
                </ul>
        </div>
    </div>

    <div class="row" id="photos">
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="https://beautifulpixels.com/downloads/wallpapers/iphone-xs-max/bpxl-iphone-xs-max-wallpaper-11.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>




</body>
</html>