<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="header">
        <h1>Architecture is... 
        <br>constant.</h1>
        <input type="text" placeholder="Search">
        <br>
        <br>
        <a href="/new/add">
            <button class="button"> Add </button> 
        </a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="">Mid Century</a></li>
            <li><a href="">Victorian</a></li>
            <li><a href="">Bauhaus</a></li>
            <li><a href="">Art Deco</a></li>
            <li><a href="">Gothic</a></li>
            <li><a href="">Brutalist</a></li>
            <li><a href="">Modernist</a></li>
            <li><a href="">Renaissance</a></li>


        </ul>


    </div>

    
</body>
</html>