<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="header">
        <h1>Artifact is... </h1>
            <form class="search" action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        <br>
        <br>
        <a href="/artifact/new">
            <button class="button"> Add </button> 
        </a>
    </div>
    <div class="container">
        <div class="row">
                <ul class="col-sm">
                    <li><a href="/artifact/tag/midcentury">Mid Century</a></li>
                    <li><a href="/artifact/tag/victorian">Victorian</a></li>
                    <li><a href="/artifact/tag/bauhaus">Bauhaus</a></li>
                </ul>
                <ul class="col-sm"> 
                    <li><a href="/artifact/tag/artdeco">Art Deco</a></li>
                    <li><a href="/artifact/tag/gothic">Gothic</a></li>
                    <li><a href="/artifact/tag/brutalist">Brutalist</a></li>
                </ul> 
                <ul class="col-sm">   
                    <li><a href="/artifact/tag/modern">Modernist</a></li>
                    <li><a href="/artifact/tag/renaissance">Renaissance</a></li>
                </ul>
        </div>
    </div>


</body>
</html>