<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div class="header">
        <h1>Artifact is... 
        <br></h1>
        <input type="text" placeholder="Search">
        <br>
        <br>
        <a href="/new/add">
            <button class="button"> Add </button> 
        </a>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/artifact/midcentury">Mid Century</a></li>
            <li><a href="/artifact/victorian">Victorian</a></li>
            <li><a href="/artifact/bauhaus">Bauhaus</a></li>
            <li><a href="/artifact/artdeco">Art Deco</a></li>
            <li><a href="/artifact/gothic">Gothic</a></li>
            <li><a href="/artifact/brutalist">Brutalist</a></li>
            <li><a href="/artifact/modern">Modernist</a></li>
            <li><a href="/artifact/renaissance">Renaissance</a></li>



        </ul>


    </div>

    
</body>
</html>