@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* ENTER BUTTON */

#enter {
    color: black;
    font-size: 20px;
    margin-left: 50px;
    animation: fade3 ease 5s;
}

@keyframes fade3{
    0% {
      opacity:0;
    }
    60% {
        opacity: 0;
    }
    100% {
      opacity:1;
    }
}

#enter:hover {
    color: blue;
    text-decoration: none;
}

.arrow {
    width: 20px;
    padding-bottom: 10px;
    margin-left: 2px;
}

/* ANIMATION */

.home {
    margin-top: 150px;
    margin-left: 50px;

}
  
.home h1 {
    animation: fadeIn ease 3s;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    10% {
        opacity: 0;
    }
    100% {
      opacity:1;
    }
}

.home2 {
    margin-left: 50px;
}

.home2 h1 {
    animation: fade ease 4s;
}

@keyframes fade{
    0% {
      opacity:0;
    }
    40% {
        opacity: 0;
    }
    100% {
      opacity:1;
    }
}


/* NAVBAR */

.navbar {
    display: flex;
    margin-top: 20px;
    max-width: 1005px;
    justify-content: flex-end;
}

#src {
    justify-content: flex-end;
    width: 25px;

}

/* BACK */

.back {
    display: flex;
    margin-top: 30px;
}

#back {
    width: 30px;
    margin-right: 885px;
}


/* INDEX NAV */

li {
    list-style: none;
    font-family: 'Lato', sans-serif; 
}

.list {
    color: gray;
}


#list {
    margin: 0px 300px 0px 0px;
}


/* X */

.header {
    margin: 50px;
}

.tag {
    text-decoration: none;
    color: black ;
}


.container {
    margin-left: 20px;
}



/* INDEX PHOTOS */

.thumbnail {
    margin: 10px;
}

#photos {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: space-between;
    max-width: 950px;
}

#photos2 {
    margin-left: 0px;
    margin-top: 5px;
    display: flex;
    align-items: space-between;
    max-width: 950px;
}

.img-responsive {
    object-fit: cover;
    height: 425px;
}

/* FIRST SHOW INDEX */

.show {
    margin-left: 50px;
    margin-right: 10px;
}

.showImg {
    margin-right: 10px;
    object-fit: cover;
    width: 300px;
    height: 250px;
}

/* SHOW PAGE */

.main {
    margin: 50px;
}

h2 {
    margin-top: 10px;
    font-size: 26px;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.8;

}

.dataImg {
    object-fit: cover;
    width: 300px;
}


/* Z */

a {
    font-family: 'Lato', sans-serif;
}

img {
    width: 300px;
    margin-top: 10px;
}

.del {
    font-family: 'Lato', sans-serif;

}

body {
    margin: 10px;
}

/* MAIN */

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}