<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <% include ../../partials/head.ejs %>
</head>
<body>
        <div class="navbar">
                <a href="/index"><img id="back" src="https://img.icons8.com/small/50/000000/long-arrow-left.png"></a>
                <a href="/index"> <img id="src" src="https://img.icons8.com/ios-filled/50/000000/search.png"> </a>
        </div>

    <h1 class="editbtn">Edit</h1>
    
    <form class="editform" action="/edit/artifact/id/<%=data.id%>?_method=PUT" method="POST">
        Building Name * 
        <br>
        <input type='text' name='name'/>
        <br/>
        Location *
        <br>
        <input type='text' name='location'/>
        <br/>
        Architect
        <br>
        <input type='text' name='architect'/>
        <br/>
        Year
        <br>
        <input type='text' name='year'/>
        <br/>
        Style
        <br>
        <input type='text' name='style'/>
        <br/>
        Tags
        <br>
         <input type='text' name='tags'/>
        <br/>
        History
        <br>
        <input type='text' name='history'/>
        <br/>
        Image One
        <br>
        <input type='text' name='img'/>
        <br/>
        Image Two
        <br>
        <input type='text' name='img2'/>
        <br/>
        Image Three
        <br>
        <input type='text' name='img3'/>
        <br/>
        <br>
        <input class="submit" type="submit" value="Submit"/>
    </form>

    <form class="del" action="/artifact/id/<%=data.id; %>?_method=DELETE" method="POST">
        <input class="del" type="submit" value="Delete This Artifact"/>
    </form>


    <footer>
            <div class="ftlinks">
                <div class="contact">
                    <a href="mailto:ruby.sz.king@gmail.com"><h6>CONTACT</h6></a>
                </div>
    
                <div class="links">
                    <a href="/links"><h6>LINKS</h6></a>
                </div>
    
                <div class="about">
                    <a href="/about"><h6>ABOUT</h6></a>
                </div>
    
                <div class="copy">
                    <h6>COPYRIGHT 2019 <a class="heart" href="">&hearts;</a> RUBY KING</h6>
                </div>
            </div>
        </footer>
</body>
</html>